<script type="text/javascript">
    //<![CDATA[
    var theForm = document.forms['form1'];
    if (!theForm) {
        theForm = document.form1;
    }
    function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
            theForm.__EVENTTARGET.value = eventTarget;
            theForm.__EVENTARGUMENT.value = eventArgument;
            theForm.submit();
        }
    }
    //]]>
</script>
<div>
  <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBALnzsqEDQKHsrC1BAKZ7YzdCgLNs7SfDCWm5cSdN/q+EBuKQnn1P3llJ/+C"/>
</div>
<input type="hidden" name="hidQuery" id="hidQuery"/>

<%= render "common/navigation" %>
<div id="layout_main" class="clearfix">
  <%= render "common/casedh" %>

  <div id="layout_mainer">
    <div id="layout_content695">
      <p>
        <img src="../images/case/case_title.jpg" alt="经典案例"/>
      </p>
      <%= render "common/sscase" %>
      <ul id="case" class="clearfix">
        <!--品牌网站:开始-->
        <% @category_2_journalism.each do |c| %>
            <li>
              <a href="">
                <div class="box">
                  <div class="imgthumb">
                    <div class="thumb_shadow_right">
                      <p>
                        <%= image_tag c.avatar.url(:anli) %>
                      </p>

                      <div class="clear">
                      </div>
                      <h5 class="font_12 coffee clearfix">
                        <%= c.title %>
                      </h5>

                      <p class="date">
                        <%= my_datetime_format c.created_at %>
                      </p>

                      <p class="intro">
                        <%= c.description %>
                      </p>

                      <p class="view">
                        <img src="../images/case/view.gif"/>
                      </p>

                      <div class="clear">
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </li>
        <% end %>
        <!--品牌网站:结束-->
      </ul>
      <div class="pagination pagination-centered">
        <ul><%= paginate @cases %></ul>
      </div>
      <p id="nextcolumn">
        <span class="btn160x34 font_14 b"><a href="http://www.ccpxcm.com/clients">&gt;&gt;合作客户</a></span>
      </p>
    </div>
  </div>
</div>
<%= render "common/footer" %>
<script type="text/javascript">
    document.getElementById("menu_case").className = "menu_case_onclick"
    document.getElementById("sidebar_menu02").className = "sidebar_menu_onclick"
    var a = document.getElementById("layout_mainer")
    var b = document.getElementById("sidebar")
</script>
<%= render 'common/kefu' %>