<script type="text/javascript">
    //<![CDATA[
    var theForm = document.forms['form1'];
    if (!theForm) {
        theForm = document.form1;
    }
    function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
            theForm.__EVENTTARGET.value = eventTarget;
            theForm.__EVENTARGUMENT.value = eventArgument;
            theForm.submit();
        }
    }
    //]]>
</script>
<div>
  <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBALnzsqEDQKHsrC1BAKZ7YzdCgLNs7SfDCWm5cSdN/q+EBuKQnn1P3llJ/+C"/>
</div>
<input type="hidden" name="hidQuery" id="hidQuery"/>

<%= render "common/navigation" %>
<div id="layout_main" class="clearfix">
  <%= render "common/casedh" %>

  <div id="layout_mainer">
    <div id="layout_content695">
      <p>
        <img src="../images/case/case_title.jpg" alt="经典案例"/>
      </p>
      <img src="images/002.jpg" width="657" height="300" border="0" usemap="#Map" />
      <map name="Map" id="Map">
        <area shape="poly" coords="7,7,8,293,143,292,265,7" href="http://www.ccpxcm.com/cases/longjia" alt="" />
        <area shape="poly" coords="270,5,147,293,381,292,507,7" href="http://www.ccpxcm.com/cases/weixin" />
        <area shape="poly" coords="387,293,514,6,650,5,650,292" href="http://www.ccpxcm.com/cases/dangche" />
      </map>

      <div class="pagination pagination-centered">
        <ul><%= paginate @cases %></ul>
      </div>
      <p id="nextcolumn">
        <span class="btn160x34 font_14 b"><a href="http://www.ccpxcm.com/clients">&gt;&gt;合作客户</a></span>
      </p>
    </div>
  </div>
</div>
<%= render "common/footer" %>
<script type="text/javascript">
    document.getElementById("menu_case").className = "menu_case_onclick"
    document.getElementById("sidebar_menu01").className = "sidebar_menu_onclick"
    var a = document.getElementById("layout_mainer")
    var b = document.getElementById("sidebar")
</script>
<%= render 'common/kefu' %>