<script type="text/javascript">
    //<![CDATA[
    var theForm = document.forms['form1'];
    if (!theForm) {
        theForm = document.form1;
    }
    function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
            theForm.__EVENTTARGET.value = eventTarget;
            theForm.__EVENTARGUMENT.value = eventArgument;
            theForm.submit();
        }
    }
    //]]>
</script>
<div>
  <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBALnzsqEDQKHsrC1BAKZ7YzdCgLNs7SfDCWm5cSdN/q+EBuKQnn1P3llJ/+C"/>
</div>
<input type="hidden" name="hidQuery" id="hidQuery"/>

<%= render "common/navigation" %>
<div id="layout_main" class="clearfix">
  <%= render "common/casedh" %>

  <div id="layout_mainer">
    <div id="layout_content695">
      <p>
        <img src="../images/case/case_title.jpg" alt="经典案例"/>
      </p>
      <ul id="case" class="clearfix">
        <!--品牌网站:开始-->
        <div id="case_name">
          <h2 class="btn160x34 font_18 yahei b left">
            <%= @case.title %>
          </h2>
                    <span class="btn160x34 b right" style="margin-top: 12px;">
                        <a id="HyperLink1" href="http://www.ccpxcm.com/">
                          访问网站首页
                        </a>
                    </span>
        </div>

        <div id="case_intro">
          <p class="font_14 yahei b">
            案例说明
          </p>

          <p>
            <%= @case.description %>
          </p>

          <p>&nbsp;</p>

          <p class="solid_line"></p>

          <p class="font_14 yahei b">
            案例截图
          </p>

          <p>
            <%= image_tag @case.avatar.url(:zhengchang) %>
          </p>

          <p class="solid_line"></p>
        </div>

        <!--品牌网站:结束-->
      </ul>
      <p id="nextcolumn">
        <span class="btn160x34 font_14 b"><a href="http://www.ccpxcm.com/clients">&gt;&gt;返回案例</a></span>
      </p>
    </div>
  </div>
</div>
<%= render "common/footer" %>
<script type="text/javascript">
    document.getElementById("menu_case").className = "menu_case_onclick"
    document.getElementById("sidebar_menu01").className = "sidebar_menu_onclick"
    var a = document.getElementById("layout_mainer")
    var b = document.getElementById("sidebar")
</script>
<%= render 'common/kefu' %>