<%= render "common/navigation" %>
<div id="layout_main" class="clearfix">
  <div id="sidebar">
    <div id="sidebar_menu" class="yahei">
      <h3>
        <span class="font_20 black block">client</span>
        <span class="font_14 black block">合作客户</span>
      </h3>
      <ul>
        <li id="sidebar_menu01"><a href="http://www.ccpxcm.com/clients">合作客户</a></li>
      </ul>
    </div>
    <p id="sidebar_tel">
      <a target="_blank" href="http://www.ccpxcm.com/clients">
        <img src="/images/matrix_tel.gif" alt="朋兴传媒"/>
      </a>
    </p>
  </div>

  <div id="layout_mainer">
    <div id="layout_content656">
      <p>
        <img src="../images/client_title.jpg" alt="朋兴传媒合作客户"/></p>

      <p>
        朋兴有幸，一直与地产、政府、金融、医疗、快销品等各大行业中的巨人同行——讴歌、联发珠宝、爱尔眼科、海尔、肯德基、中国电信、招商银行、宝马汽车、长虹电视、中国联通、中国人保、太平洋保险、海信、平安家和、大自然地板、今朝装饰、长安汽车、金立手机、本田汽车、别克汽车，一批最具实力的企业、最具潜力的品牌、最具挑战的项目。
      </p>

      <p class="display8px"></p>

      <p>
        八年来的不断努力和进取，朋兴已成为东北三省知名的务实派网络传媒广告营销顾问机构，引领华北广告传媒产业发展的潮流，并用事实向社会诠释品牌营销的价值！
      </p>

      <p class="display16px">
      </p>
      <ul id="client" class="gray_frame clearfix">
        <!--合作客户:开始-->
        <% @customers.each do |c| %>
            <li>
              <a href="<%= client_path(c) %>">
                <div class="shadow">
                  <div class="box">
                    <div class="imgthumb">
                      <span class="thumb_shadow_right">
                        <%= image_tag c.avatar.url(:huoban) %>
                      </span>
                    </div>
                    <div class="intro">
                      <p>
                        <%= truncate_u(c.description, 90) %>
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
        <% end %>
        <!--合作客户:结束-->
      </ul>
      <div class="newspage" style="width: 660px;">
        <!--page:start-->
        <div class="pagination pagination-centered">
          <ul><%= paginate @customers %></ul>
        </div>
        <!--page:end-->
      </div>
      <p id="nextcolumn">
        <span class="btn160x34 font_14 b"><a href="http://www.ccpxcm.com/contacts">&gt;&gt;联系我们</a></span></p>
    </div>
  </div>
</div>
<%= render "common/footer" %>

<script type="text/javascript">
    document.getElementById("menu_client").className = "menu_client_onclick"
    document.getElementById("sidebar_menu01").className = "sidebar_menu_onclick"
    var a = document.getElementById("layout_mainer")
    var b = document.getElementById("sidebar")
</script>
<%= render 'common/kefu' %>