<script>
    <% if !flash[:error_msg].nil? && !flash[:error_msg].blank?%>
    alert('<%=flash[:error_msg]%>');
    <% end%>
</script>
<div>
  <ul class="breadcrumb">
    <li>
      <a href="<%= admin_home_index_path %>">Home</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="<%= admin_daozhas_path %>">道闸点位</a> <span class="divider">/</span>
    </li>
    <li>
      添加道闸点位
    </li>
  </ul>
</div>
<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-content">
      <div id="content" class="span10" style="padding: 20px">
        <%= form_for @roll, :url => admin_daozhas_path(@roll), :method => :post, :html => {:id => "classic_cases"} do |f| %>
            <fieldset>
              <legend>添加道闸点位</legend>
              <div class="field">
                <span>小区名称：</span>
                <%= f.text_field :name %>
                <FONT color=#A52A2A size=2>例：红苹果家园</FONT>
              </div>
              <br/>

              <div class="field">
                <span>道闸区域：</span>
                <%= f.select :question_category_id, options_for_select(Daozha::QUESTION_CATEGORYS) %>
                <FONT color=#A52A2A size=2>注：请填写区域</FONT>
              </div>
              <br/>

              <div class="field">
                <span>小区地址：</span>
                <%= f.text_field :address %>
                <FONT color=#A52A2A size=2>例：飞跃东路与繁荣路</FONT>
              </div>
              <br/>

              <div class="field">
                <span>道闸数量：</span>
                <%= f.text_field :number %>
                <FONT color=#A52A2A size=2>例：50</FONT>
              </div>
              <br/>

              <div class="field">
                <span>出入情况：</span>
                <%= f.text_field :access_conditions %>
                <FONT color=#A52A2A size=2>例：入3杆，出3杆</FONT>
              </div>
              <br/>

              <div class="field">
                <span>媒体形式：</span>
                <%= f.text_field :media_form %>
                <FONT color=#A52A2A size=2>例：挡车杆(2PVC 3灯箱)</FONT>
              </div>
              <br/>

              <div class="field">
                <span>道闸图片：</span>
                <%= f.file_field :avatar %>
                <FONT color=#A52A2A size=2>图片建议尺寸：240x240像素</FONT>
              </div>
              <br/>

              <div class="form-actions">
                <%= f.submit "完成提交", :class => "btn btn-primary" %>
              </div>
            </fieldset>
        <% end %>
        <!--/span-->
      </div>
    </div>
  </div>
</div><!--/row-->
<script src="/admin/js/jquery.validate.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#classic_cases").validate({
                rules: {
                    "daozha[name]": {
                        required: true
                    },
                    "daozha[avatar]": {
                        required: true,
                        accept: "jpg|png"
                    },
                    "daozha[address]": {
                        required: true
                    },
                    "daozha[number]": {
                        required: true
                    },
                    "daozha[access_conditions]": {
                        required: true
                    },
                    "daozha[media_form]": {
                        required: true
                    }
                },
                messages: {
                    "daozha[name]": {
                        required: "请填写小区名称"
                    },
                    "daozha[avatar]": {
                        required: "请上传图片",
                        accept: "图片类型必须是png或jpg"
                    },
                    "daozha[address]": {
                        required: "请填写所在地址"
                    },
                    "daozha[number]": {
                        required: "请填写道闸数量"
                    },
                    "daozha[access_conditions]": {
                        required: "请填写出入情况"
                    },
                    "daozha[media_form]": {
                        required: "请填写媒体形式"
                    }
                },
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent());
                }
            });
        });
    });
</script>


