<%= render "common/navigation" %>
<link type="text/css" rel="stylesheet" href="../stylesheets/base.css" media="all">
<link rel="stylesheet" type="text/css" href="../stylesheets/list-fang.css" media="all">
<div id="ad_d22" style="height: 50px;">
  <a href="http://webapp.58.com/static/chuichuile/index.html" target="_blank">
    <img src="../images/chuichuile.png">
  </a>
</div>
<section id="selection">
  <div class="relative">
    <dl class="secitem" id="filter_quyu">
      <dt>区域：</dt>
      <dd>
        <a href="">朝阳</a>
        <a href="">南关</a>
        <a href="">绿园</a>
        <a href="">宽城</a>
        <a href="">二道</a>
        <a href="">双阳</a>
        <a href="">经开</a>
        <a href="">高新</a>
        <a href="">汽车城</a>
        <a href="">净月</a>
        <a href="">长春周边</a>
      </dd>
    </dl>
  </div>
</section>
<section id="category">
  <div class="tabsbar">
    <div class="list-tabs">
      <a title="长春朋兴道闸点位" class="sel">
        <span><h1> 道闸点位 </h1></span>
      </a>
    </div>
  </div>
  <div class="main">
    <div id="infolist" class="cleft">

      <table class="tbimg" cellpadding="0" cellspacing="0">
        <tbody>
        <!--      道闸列表      -->
        <% @roll.each do |roll| %>
            <tr yzf_sq="5305" yzf_xzq="320" yzf_room="0" yzf_jg="450">
              <td class="img">
                <div class="img_list">
                  <a href="<%= daozha_path(roll) %>" target="_blank">
                    <%= image_tag roll.avatar.url(:index) %>
                  </a>
                </div>
              </td>
              <td class="t qj-rentd">
                <h1>
                  <a href="<%= daozha_path(@roll) %>" target="_blank" class="t">
                    <%= roll.name %>
                  </a>
                  <%= roll.question_category_name %>
                </h1>

                <p class="qj-renaddr">
                  <a href="http://cc.58.com/chongqinglu/chuzu/" class="a_xq1"><%= roll.address %></a>
                </p>
              </td>
              <td>
                <b class="pri"><%= roll.number %>个</b>道闸数量
                <br>
                <span class="showroom"><%= roll.media_form %></span>
                <br>
              </td>
            </tr>
        <% end %>
        <!--      道闸列表end      -->
        </tbody>
      </table>

      <div class="pagination pagination-centered">
        <ul><%= paginate @roll %></ul>
      </div>

    </div>
  </div>
</section>
<%= render "common/footer" %>