<%= render "common/navigation" %>
<%= render "common/daozhadh" %>
<section id="category">
  <div class="tabsbar">
    <div class="list-tabs">
      <a title="长春朋兴道闸点位" class="sell">
        <span>道闸点位</span>
      </a>
      <h1>区域：净月</h1>
    </div>
  </div>
  <div class="main">
    <div id="infolist" class="cleft">

      <table class="tbimg" cellpadding="0" cellspacing="0">
        <tbody>
        <!--      道闸列表      -->
        <% @category_10_daozha.each do |roll| %>
            <tr yzf_sq="5305" yzf_xzq="320" yzf_room="0" yzf_jg="450">
              <td class="img">
                <div class="img_list">
                  <a href="<%= daozha_path(roll) %>" target="_blank">
                    <%= image_tag roll.avatar.url(:index) %>
                  </a>
                </div>
              </td>
              <td class="t qj-rentd">
                <h1>
                  <a href="<%= daozha_path(roll) %>" target="_blank" class="t">
                    <%= roll.name %>
                  </a>
                  <%= roll.question_category_name %>
                </h1>

                <p class="qj-renaddr">
                  <%= roll.address %>
                </p>
              </td>
              <td>
                <b class="pri"><%= roll.number %>个</b>道闸数量
                <br>
                <span class="showroom"><%= roll.media_form %></span>
                <br>
              </td>
            </tr>
        <% end %>
        <!--      道闸列表end      -->
        </tbody>
      </table>

      <div class="pagination pagination-centered">
        <ul><%= paginate @category_10_daozha %></ul>
      </div>

    </div>
  </div>
</section><!-- 客服 -->
<div class="serviceleft">
  <div class="si_serviceleft">
    <div class="si_serviceleft2" style="display: block;">
      <ul>
        <li class="si_serviceleftLI1" style="">
          <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=208263915&site=qq&menu=yes">
            朋兴客服
          </a>
        </li>
        <li class="si_serviceleftLI1" style="">
          <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2544481839&site=qq&menu=yes">
            朋兴客服
          </a>
        </li>
        <li class="si_serviceleftLI2" style="">
          <div style="display: none;"><img src="/images/weixin/wx2wm.png" alt="朋兴传媒微信"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
    $(function () {
        $(".si_serviceleftLast").hover(function () {
            $(".si_serviceleftLast div").fadeIn(0);
        }, function () {
            $(".si_serviceleftLast div").fadeOut(0);
        })
        $(".si_serviceleftLI2").hover(function () {
            $(".si_serviceleftLI2 div").fadeIn(0);
        }, function () {
            $(".si_serviceleftLI2 div").fadeOut(0);
        })
        $(".si_serviceleft2 ul li").hover(function () {
            $(this).css('background-color', '#d93d69');
        }, function () {
            $(this).css('background-color', '');
        })
    })
</script>
<%= render "common/footer" %>