<%= render "common/navigation" %>
<%= render "common/daozhadh" %>
<section id="category">
  <div class="tabsbar">
    <div class="list-tabs">
      <a title="长春朋兴道闸点位" class="sell">
        <span>道闸点位</span>
      </a>
      <h1>区域：宽城</h1>
    </div>
  </div>
  <div class="main">
    <div id="infolist" class="cleft">
      <!-- 道闸 -->
      <% @category_4_daozha.each do |roll| %>
          <table class="tbimg" cellpadding="0" cellspacing="0">
            <colgroup>
              <col class="wimg">
              <col>
              <col class="wrentm">
            </colgroup>
            <tbody>
            <tr yzf_sq="5305" yzf_xzq="320" yzf_room="0" yzf_jg="450" logr="xbtop_2_17843183_17580186155267_6_2" class=" ">
              <td class="img">
                <div class="img_list">
                  <span class="img_picCount"><span class="img_picCountOpacity"></span></span>
                  <a href="<%= daozha_path(roll) %>" target="_blank">
                    <%= image_tag roll.avatar.url(:index) %>
                  </a>
                </div>
              </td>
              <td class="t qj-rentd">
                <h1>
                  <a href="<%= daozha_path(roll) %>" target="_blank" class="t">
                    [<%= roll.question_category_name %>]<%= roll.name %>
                  </a>
                </h1>

                <p class="qj-renaddr">
                  <span class="f12">地址：<%= roll.address %></span>
                </p>

                <p class="qj-rendp">
                  <span class="qj-listjjr"><label>朋兴传媒：道闸挡车杆，释放出媒体的力量。让更多人选择您！</label></span>
                </p>
              </td>
              <td>
                <b class="pri"><%= roll.number %>个</b>道闸数量
                <br>
                <span class="showroom"><%= roll.media_form %></span>
                <br>
              </td>
            </tr>
            </tbody>
          </table>
      <% end %>
      <!-- 道闸end -->
      <div class="pagination pagination-centered">
        <ul><%= paginate @category_4_daozha %></ul>
      </div>

    </div>
  </div>
</section><!-- 客服 -->
<div class="serviceleft">
  <div class="si_serviceleft">
    <div class="si_serviceleft2" style="display: block;">
      <ul>
        <li class="si_serviceleftLI1" style="">
          <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=208263915&site=qq&menu=yes">
            朋兴客服
          </a>
        </li>
        <li class="si_serviceleftLI1" style="">
          <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2544481839&site=qq&menu=yes">
            朋兴客服
          </a>
        </li>
        <li class="si_serviceleftLI2" style="">
          <div style="display: none;"><img src="/images/weixin/wx2wm.png" alt="朋兴传媒微信"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
    $(function () {
        $(".si_serviceleftLast").hover(function () {
            $(".si_serviceleftLast div").fadeIn(0);
        }, function () {
            $(".si_serviceleftLast div").fadeOut(0);
        })
        $(".si_serviceleftLI2").hover(function () {
            $(".si_serviceleftLI2 div").fadeIn(0);
        }, function () {
            $(".si_serviceleftLI2 div").fadeOut(0);
        })
        $(".si_serviceleft2 ul li").hover(function () {
            $(this).css('background-color', '#d93d69');
        }, function () {
            $(this).css('background-color', '');
        })
    })
</script>
<%= render "common/footer" %>