<link type="text/css" rel="stylesheet" href="../stylesheets/base.css" media="all">
<link rel="stylesheet" type="text/css" href="../stylesheets/list-fang.css" media="all">
<div id="ad_d22" style="height: 50px;">
  <a href="http://www.ccpxcm.com/services" target="_blank">
    <img src="../images/pxhf.jpg">
  </a>
</div>
<section id="selection">
  <div class="relative">
    <dl class="secitem" id="filter_quyu">
      <dt>区域：</dt>
      <dd>
        <a href="<%= daozhas_path %>">全部</a>
        <a href="<%= chaoyang_daozhas_path %>">朝阳</a>
        <a href="<%= nanguan_daozhas_path %>">南关</a>
        <a href="<%= luyuan_daozhas_path %>">绿园</a>
        <a href="<%= kuancheng_daozhas_path %>">宽城</a>
        <a href="<%= erdao_daozhas_path %>">二道</a>
        <a href="<%= shuangyang_daozhas_path %>">双阳</a>
        <a href="<%= jingkai_daozhas_path %>">经开</a>
        <a href="<%= gaoxin_daozhas_path %>">高新</a>
        <a href="<%= qichecheng_daozhas_path %>">汽车城</a>
        <a href="<%= jingyue_daozhas_path %>">净月</a>
        <a href="<%= changchunzhoubian_daozhas_path %>">长春周边</a>
      </dd>
    </dl>
  </div>
</section>
