<div class="sort">
  <div class="solid_line">
  </div>
  <h4 class="font_12 coffee">
    招聘分类
  </h4>
  <ul>
    <li>
      <a id="hl1_st1" class="red" href="<%= joinus_ours_path %>">不限</a>
    </li>
    <li><a id="hl1_st4" href="<%= joinus_a_ours_path %>">高管</a></li>
    <li><a id="hl1_st3" href="<%= joinus_b_ours_path %>">网络</a></li>
    <li><a id="hl1_st2" href="<%= joinus_c_ours_path %>">销售</a></li>
    <li><a id="hl1_st4" href="<%= joinus_d_ours_path %>">行政</a></li>
    <li><a id="hl1_st4" href="<%= joinus_e_ours_path %>">工程</a></li>
  </ul>
  <div class="clear"></div>
  <div class="solid_line"></div>
</div>
<div class="clear">
</div>