<div id="sidebar">
  <div id="sidebar_menu" class="yahei">
    <h3>
      <span class="font_20 black block">our</span>
      <span class="font_14 black block">关于我们</span>
    </h3>
    <ul>
      <li id="sidebar_menu01"><a href="<%= ours_path %>">我们是谁</a></li>
      <li id="sidebar_menu03"><a href="<%= elite_team_ours_path %>">精英团队</a></li>
      <li id="sidebar_menu04"><a href="<%= joinus_ours_path %>">招聘信息</a></li>
      <li id="sidebar_menu05"><a href="<%= journalism_ours_path %>">热点新闻</a></li>
    </ul>
  </div>
  <p id="sidebar_tel"><img src="/images/matrix_tel.gif" alt="联系电话"/></p>
</div>
<%= render 'common/kefu' %>