<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- 兼容 -->
  <meta name="renderer" content="webkit|ie-comp|ie-stand">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>长春朋兴文化传媒有限公司-是以道闸挡车杆,龙嘉机场LED,FM94.3,微信开发,网站开发,活动宣传策划为主营的传媒公司。www.pxcm.com-长春朋兴文化传媒有限公司</title>
  <meta name="author" content="长春朋兴文化传媒有限公司www.pxcm.com">
  <meta name="keywords" content="长春广告|吉林广告|长春传媒|吉林传媒|道闸|挡车杆|有效广告|宣传媒体|宣传方式|龙嘉机场|LED|网站开发|域名注册|微信模版开发|微信功能开发|微信|活动宣传|活动策划|企业策划长春广告|吉林广告|长春传媒|吉林传媒|道闸|挡车杆|制作|发布|印刷|门户|有效广告|宣传媒体|宣传方式|龙嘉机场|LED|网站开发|域名注册|微信模版开发|微信功能开发|微信|活动宣传|活动策划|企业策划|广告|传媒|策划|宣传|推广www.ccpxcm.com">
  <meta name="description" content="长春朋兴文化传媒有限制是以道闸挡车干,龙嘉机场LED,FM94.3,微信开发,网站开发,活动宣传策划为主营的传媒公司。www.pxcm.com">
  <link rel="shortcut icon" href="images/favicon.png">

  <%= stylesheet_link_tag "global", "home", "layout" %>
  <%= javascript_include_tag "doop_services", "jquery.min", "rollcase", "slides" %>
  <!-- 客服 -->
  <%= stylesheet_link_tag "lanrenzhijia" %>
  <%= javascript_include_tag "jquery-1.7.2.min", "jquery.bxSlider.min" %>
  <!-- 客服end -->
</head>
<body>
<%= yield %>
<a href="http://webscan.360.cn/index/checkwebsite/url/www.ccpxcm.com" name="6378f1467640a60ce287a114229a2154"></a>
</body>
</html>






